<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table" *ngIf="jobs && jobs.length">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>PostedDate</th>
                <th>Category</th>
                <th>City</th>
                <th>EmploymentType</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of jobs">
                    <th>{{job.Title}}</th>
                    <th>{{job.Description}}</th>
                    <th>{{job.PostedDate | date}}</th>
                    <th>{{job.Category}}</th>
                    <th>{{job.City}}</th>
                    <th>{{job.EmploymentType}}</th>
                  </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
